<div class="row"> 
  <div class="col s2"></div><h3 class="card col s12 titlize">{{article.title}}</h3> <div class="col s2"></div>
</div>   
<div class="row"> 

  <h5 class="card-panel articleBody col s12">{{body}}</h5>
  <i>Please read the full article <a href="{{link}}" target="_new">here</a>.</i>

</div>


<div class="row">
 
   <form action="/comment/{{article._id}}" method="POST" class="card-panel col s12 commenty">
    <h5>Comment on this Article:</h5>
      <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
        </div>
        <div class="input-field">
          <i class="material-icons prefix">comment</i>
          <input id="icon_telephone" type="text" placeholder="Comment" name="comment" class="validate active">
        </div>
      </div>
      </div>
      <div class="col s1"></div>
       <!-- Submit Button -->
      <div class="row">
        <div class="col s12">
        <div class="input-field">
          <center><input class="btn add-comment-button red darken-4" type="submit" data-id="{{article._id}}" value="Submit"></center>
        </div>
        </div>
      </div>
    </form>

</div>

{{!-- comments go here --}}
<div class="row">
    <div class="col s12">
      <h5>Comments:</h5>
        {{#if article.comment}}
          {{#each article.comment}}
            <div class="card">
              <p id="nameComment">{{name}}</p>
              <p id="commentBody">{{body}}<p>
                 {{!-- Add a Delete Button --}}
                
                  <form id="form-delete-{{_id}}" action="remove/comment/{{_id}}" method="post">
                    <input class="btn delete-comment-button red darken-4" type="submit" data-id="{{_id}}" value="Delete">
                  </form>
                
            </div>
          {{/each}}
          {{else}}
          <p>No Comments Yet.</p>
        {{/if}}
    </div>

</div>